@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Nunito+Sans:wght@400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.auth-container{
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 8px 0 rgb(131 137 160 / 20%);
  box-shadow: 0 4px 8px 0 rgb(131 137 160 / 20%);
  padding: 24px;
}
